$navbar-default-bg: orange;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('background.jpg');
  background-size: cover;
  height: 600px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.jumbotron h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.description {
  margin-top: 0px;
}

.well a {
  color: orange;
}

.chef-info {
  margin-top: 3px;
}

.colormatch a {
  color: orange;
}

.recipe-actions {
  padding-top: 2px;
  a {
    color: white;
  }
}

.listing {
  list-style: none;
  padding-left: 0px;
}

.chef-title {
  color: orange;
  font-weight: bold;
  font-size: 1.25em;
}

.chef-actions {
  padding-top: 2px;
  a {
    color: white;
  }
}
